.side-drawer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  box-sizing: border-box;
  height: 100%;
  width: 280px;
  max-width: 70%;
  padding: 32px 16px;
  transition: transform 0.3s ease-out;
  background-color: white;
}

@media screen and (min-width: 500px) {
  .side-drawer {
    display: none;
  }
}

.side-drawer--open {
  transform: translateX(0);
}

.side-drawer--closed {
  transform: translateX(-100%);
}

.side-drawer__logo {
  height: 11%;
  margin-bottom: 32px;
}