.hamburger {
  cursor: pointer;
}

@media (min-width: 500px) {
  .hamburger {
    display: none;
  }
}

.hamburger__line {
  display: block;
  height: 3px;
  width: 30px;
  background-color: white;
}

.hamburger__line:nth-child(2) {
  margin: 5px 0;
}